<p id="notice"><%= notice %></p>

<h1>Podcast Notes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @podcast_notes.each do |podcast_note| %>
      <tr>
        <td><%= podcast_note.title %></td>
        <td><%= link_to 'Show', podcast_note %></td>
        <td><%= link_to 'Edit', edit_podcast_note_path(podcast_note) %></td>
        <td><%= link_to 'Destroy', podcast_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Podcast Note', new_podcast_note_path %>
