<h1>Podcast Notes</h1>

<% if current_user %>
  <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_podcast_note_path, class: 'admin-controls', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Add New Podcast Note' %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <% @podcast_notes.each do |podcast_note| %>
      <div class="row my-5">
        <div class="col-sm-6">
          <h2><%= link_to podcast_note.title, podcast_note %></h2>
        </div>

        <div class="col-sm-6  my-auto">
          <p><%= truncate(strip_tags(podcast_note.note_body.to_s), length: 200) %></p>
          <% if current_user %>
            <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_podcast_note_path(podcast_note), class: 'admin-controls', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Edit' %> | 
            <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, podcast_note, method: :delete, data: { confirm: 'Are you sure?', toggle: 'tooltip', placement: 'bottom' }, class: 'admin-controls', title: 'Delete' %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= paginate @podcast_notes %>
  </div>
</div>
