<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="custom-file mb-5">
    <%= form.file_field :hero_image, direct_upload: true %>
    <%= form.label :hero_image, class: 'custom-file-label' %>
  </div>

  <div class="form-group mb-5">
    <%= form.text_field :caption, class: 'form-control', placeholder: :caption %>
  </div>

  <div class="form-group mb-5">
    <%= form.text_field :title, class: 'form-control', placeholder: :title %>
  </div>

  <div class="form-group">
    <%= form.rich_text_area :body, class: 'form-control', placeholder: :body %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
